{% extends 'base.html' %}
{% block head %}
<title>Blog Section of My Website</title>
{% endblock head %}

{% block content %}
<div class="container">
    <h1 class="text-center py-3 text-uppercase">Blog</h1>
    <hr>
    
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for post in posts %} 
        <div class="col">
          <div class="card h-100">
            <img src="{{post.featured.url}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><a href="{% url 'single_post' post.slug %}" class="text-decoration-none text-danger">{{post.title}}</a></h5>
              <p class="card-text">{{post.content|truncatewords:30}}</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated {{post.edited|timesince}} ago</small>
            </div>
          </div>
        </div>
        {% endfor %}
    </div>

    <nav aria-label="..." class="my-3">
      <ul class="pagination justify-content-center">

        {% if posts.has_previous %}
        <li class="page-item">
          <span class="page-link"><a href="?page={{posts.previous_page_number}}"><span aria-hidden="true">&laquo;</span></a></span>
        </li>
        {% else %}
        <li class="page-item disabled">
          <span class="page-link"><span aria-hidden="true">&laquo;</span></span>
        </li>
        {% endif %}


        {% for i in posts.paginator.page_range %}
        {% if posts.number == i %}
        <li class="page-item active"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
        {% else %}
        <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
        {% endif %}
        {% endfor %}

        {% if posts.has_next %}
        <li class="page-item">
          <span class="page-link"><a href="?page={{posts.next_page_number}}"><span aria-hidden="true">&raquo;</span></a></span>
        </li>
        {% else %}
        <li class="page-item disabled">
          <span class="page-link"><span aria-hidden="true">&raquo;</span></span>
        </li>
        {% endif %}
      </ul>
    </nav>

</div>
{% endblock content %}