{% extends "base.html" %}

{% block content %} 

<div class="container my-5 mx-auto w-50">
<form method="POST" action="{% url 'account_login' %}"> {% csrf_token %}


    {% for errors in form.non_field_errors %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      {{error}}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}

    <div class="mb-3">

      <label for="{{form.login.id_for_label}}" class="form-label">Email address</label>
      <input name="{{form.login.html_name}}" type="email" class="form-control" id="{{form.login.id_for_login}}" aria-describedby="emailHelp">
      <span class="text-danger">{{form.login.errors}}</span>
    </div>
    <div class="mb-3">
      <label for="{{form.password.id_for_label}}" class="form-label">Password</label>
      <input type="password" name="{{form.password.html_name}}" required class="form-control" id="{{form.password.id_for_label}}">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
  {% endblock content %}


